<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
错误信息：<h4 th:text="${message}"></h4>
<form action="login" method="post">
    <p>账号：<input type="text" name="username" value="admin"/></p>
    <p>密码：<input type="text" name="password" value="123456"/></p>
    <p><input type="submit" value="登录"/></p>
</form>
<script>
    (function() {
        var OriginTitile = document.title, titleTime;
        document.addEventListener('visibilitychange', function() {
            if (document.hidden) {
                document.title = '小哥哥，点这里';
                clearTimeout(titleTime);
            } else {
                document.title = OriginTitile;
//                titleTime = setTimeout(function() {
//                    document.title = OriginTitile;
//                },2000);
            }
        });
    })();
</script>
</body>
</html>
