<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <style type="text/css">
        div, tr, td, p, a, h1, h2, h3, h4, h5, h6, ul, li {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        img {
            max-width: 100%;
            border: none;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }
    </style>
</head>
<body>
<div style="font:Verdana normal 14px;color:#000;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding:0px;  background:#F2F2F2;">
        <tbody>
        <tr>
            <td align="center" style="background-color: #eeeeee;padding-top: 30px;padding-bottom:60px;">
                <table border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" style="" width="100%">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" style="background-color:#3e9de1; padding:25px 45px;" width="100%">
                                            <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td width="160" style="width:160px; padding-right:20px;" align="right">
                                                                <img width="153" title="Welcome mail" src="cid:ocly">
                                                            </td>
                                                            <td>
                                                                <div style="font-family:Lucida Grande,Lucida Sans,Lucida Sans Unicode,Arial,Helvetica,Verdana,sans-serif; font-size:13px; text-align:left; color:#fff;">
                                                                    <h3 style="font-size: 22px;margin-top: 20px;">欢迎来到宠物王国</h3>
                                                                    <p style="font-size: 18px; margin-top: 20px;">感谢您的注册</p>
                                                                    <div style="text-decoration: none; outline: none; background-color: rgb(253, 216, 22); float: left; border-bottom: 2px solid rgb(246, 174, 18); color: rgb(51, 51, 51); margin-top: 30px; cursor: pointer; width: 160px; height: 20px; line-height: 20px; text-align: center; padding: 5px 9px;">
                                                                        <a href="" style="color: rgb(51, 51, 51);">点击激活</a></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" style="background-color: #fff;" width="100%" >
                                            <tbody>
                                            <tr>
                                                <td valign="top" style="padding: 25px 60px;">
                                                    <div th:text="'尊敬的'+ ${name}+' :'" style=" font-family:Lucida Grande,Lucida Sans,Lucida Sans Unicode,Arial,Helvetica,Verdana,sans-serif; font-size:15px;
                                                    font-weight:400; color:#363c43; margin:0px 0px 10px; text-align: left;">
                                                    </div>
                                                    <div style="font-family:Lucida Grande,Lucida Sans,Lucida Sans Unicode,Arial,Helvetica,Verdana,sans-serif; font-size:15px; text-align:left;  margin-bottom:15px; margin-left:50px;color:#323232; line-height:25px;">
                                                        您已加入我们，点击上方激活按钮，开始你的旅程吧
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
